<div class="row">
    <div class="col-lg-12">
        <h1 class="text-center alert alert-info">Job Details</h1>
    </div>
</div>   

<div class="addButton" data-toggle="modal" data-target="#addUpdateModel" (click)="openAddModel()">
    <i class="fa fa-plus fa-2x text-white" aria-hidden="true"></i>
</div>

<div class="panel-body">
    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th>Company</th>
                <th>Location</th>
                <th>Technology</th>
                <th>Role</th>
                <th>Experience</th>
                <th>Salary</th>
                <th>Posted On</th>
                <th class="text-center">
                    <em class="fa fa-cog"></em>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="jobs.length == 0">
                <td colspan="8">No Job to Display</td>
            </tr>

            <tr *ngFor="let job of jobs; let i = index">
                <td>{{job.company_name}}</td>
                <td>{{job.location}}</td>
                <td>{{job.technology}}</td>
                <td>{{job.role}}</td>
                <td>{{job.experience}}</td>
                <td>{{job.salary}}</td>
                <td>{{job.created_date}}</td>
                <td class='text-center'>
                    <a class='btn btn-primary text-white' data-toggle="modal" data-target="#addUpdateModel" (click)="openUpdateModel(job)">
                        <em class='fa fa-pencil'></em>
                    </a>
                    <a class='btn btn-danger text-white' (click)="deleteJobById(job.id, i)">
                        <em class='fa fa-trash'></em>
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<!-- Update Modal -->
<div class="modal fade" id="addUpdateModel" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header alert-info">
                <h1 class="mx-auto">{{model_header}} Job</h1>
            </div>
            <div class="modal-body">
                <form role="form" [formGroup]="form" (ngSubmit)="addUpdateJob()" novalidate>
                    <input type="hidden" name="id" formControlName="id">

                    <div class="form-group">
                        <label for="sel1">Select Company:</label>
                        <select name="companyId" class="form-control" formControlName="company_id"
                            [ngClass]="{
                                'is-valid': form.controls.company_id.valid && (form.controls.company_id.dirty || form.controls.company_id.touched),
                                'is-invalid': form.controls.company_id.invalid && (form.controls.company_id.dirty || form.controls.company_id.touched)
                            }" required>
                            <option selected disabled value="0">Select Company</option>
                            <option *ngFor="let company of companies" [value]="company.id">{{company.company_name}}</option>
                        </select>
                        <div class="text-danger" *ngIf="form.controls.company_id.invalid && (form.controls.company_id.dirty || form.controls.company_id.touched)">
                            <p>Please select company</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Location">Location</label>
                        <textarea name="location" class="form-control" formControlName="location" 
                            [ngClass]="{
                                'is-valid': form.controls.location.valid && (form.controls.location.dirty || form.controls.location.touched),
                                'is-invalid': form.controls.location.invalid && (form.controls.location.dirty || form.controls.location.touched)
                            }" rows="3" style="resize:none" placeholder="Enter Location " required></textarea>
                        <div class="text-danger" *ngIf="form.controls.location.invalid && (form.controls.location.dirty || form.controls.location.touched)">
                            <p>Please enter location</p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="Technology">Technology</label>
                        <input type="text" name="technology" class="form-control" formControlName="technology"  
                            [ngClass]="{
                                'is-valid': form.controls.technology.valid && (form.controls.technology.dirty || form.controls.technology.touched),
                                'is-invalid': form.controls.technology.invalid && (form.controls.technology.dirty || form.controls.technology.touched)
                            }" placeholder="Enter Technology" required>
                        <div class="text-danger" *ngIf="form.controls.technology.invalid && (form.controls.technology.dirty || form.controls.technology.touched)">
                            <p>Please enter technology</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Role">Role</label>
                        <input type="text" name="role" class="form-control" formControlName="role"
                            [ngClass]="{
                                'is-valid': form.controls.role.valid && (form.controls.role.dirty || form.controls.role.touched),
                                'is-invalid': form.controls.role.invalid && (form.controls.role.dirty || form.controls.role.touched)
                            }" placeholder="Enter Role" required>
                        <div class="text-danger" *ngIf="form.controls.role.invalid && (form.controls.role.dirty || form.controls.role.touched)">
                            <p>Please enter role</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Experience">Years of Experience</label>
                        <input type="text" name="experience" class="form-control" formControlName="experience"
                            [ngClass]="{
                                'is-valid': form.controls.experience.valid && (form.controls.experience.dirty || form.controls.experience.touched),
                                'is-invalid': form.controls.experience.invalid && (form.controls.experience.dirty || form.controls.experience.touched)
                            }" pattern="[0-9]+[.]([0-9]{1})" step="0.1" placeholder="Enter Experience" required>
                        <div class="text-danger" *ngIf="form.controls.experience.invalid && (form.controls.experience.dirty || form.controls.experience.touched)">
                            <p *ngIf="form.controls.experience.errors.required">Please enter experience</p>
                            <p *ngIf="form.controls.experience.errors.pattern">Experience Should be like 2.5</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="Salary">Salary</label>
                        <input type="number" name="salary" class="form-control" formControlName="salary"
                            [ngClass]="{
                                'is-valid': form.controls.salary.valid && (form.controls.salary.dirty || form.controls.salary.touched),
                                'is-invalid': form.controls.salary.invalid && (form.controls.salary.dirty || form.controls.salary.touched)
                            }" pattern="[0-9]+[.]([0-9]{1,2})" step="0.01" placeholder="Enter Salary" required>
                        <div class="text-danger" *ngIf="form.controls.salary.invalid && (form.controls.salary.dirty || form.controls.salary.touched)">
                            <p *ngIf="form.controls.salary.errors.required">Please enter salary</p>
                            <p *ngIf="form.controls.salary.errors.pattern">Salary Should be like 12.50</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <button type="submit" class="btn btn-success" [disabled]="!form.valid">{{model_header}}</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>