html, body {
}

a {
    text-decoration: none !important;
}

.app-body {
}

.admin-body {
    margin-top: 5rem;
}

@media (min-width: 992px) {
    .dropdown-menu-right {
        right: 0;
        left: auto;
    }
}

.text-ellipsis {
    display:inline-block;
    width:12.5rem;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
}


