html {
    height:100%;
}

body {
    min-width: 300px;
    width: auto !important;
    width: 100%;
}

a {
    text-decoration: none !important;
}

.verticalLine {
    border-left: thick solid #9d9d9d;
}

.navbar-header {
    width: 100%;
    position: relative;
}
.navbar-collapse.collapse {
    position: absolute;
    margin-left: 8em;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
    background-color: #333;
}

@media (max-width: 970px) {
    .navbar-header {
        float: none;
    }
    .navbar-toggle {
        display: block;
        float: left;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-collapse.collapse {
        display: none!important;
        width: 100%;
        margin: 0%;
        background-color: #333;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
 }