html, body {
}

a {
    text-decoration: none !important;
}

ol {
    list-style-position: inside;
}

.app-body {
}

.admin-body {
    margin-top: 5rem;
}

@media (min-width: 992px) {
    .dropdown-menu-right {
        right: 0;
        left: auto;
    }
}
.description-text {
    width:12.5rem;
}

.question-options {
    padding: 0;
}


