<div class="row">
    <div class="col-md-12">
        <h1 class="text-center alert alert-info">Test Details</h1>
    </div>
</div>

<div class="panel-body">
    <div class="input-group mb-4">
        <span class="fa fa-search form-control-feedback" (click)="getAllExamDetails()"></span>
        <input class="form-control form-control-search col-sm-10 mr-2" type="text" name="search" placeholder="Search" [(ngModel)]="params.search" (keyup.enter)="getAllExamDetails()">
        <button class="btn btn-primary col-sm-1 mr-2" (click)="getAllExamDetails()">Search</button>
        <button class="btn btn-primary col-sm-1" (click)="reset()">Reset</button>
    </div>

    <ngb-pagination *ngIf="count!=0" class="pull-right" [(collectionSize)]="count" [(pageSize)]="params.size" [(page)]="params.page" 
        [maxSize]="5" [ellipses]="false" [boundaryLinks]="true" size="sm"
        (click)="getAllExamDetails()"></ngb-pagination>

    <table class="table table-striped table-condensed table-hover">
        <thead>
            <tr>
                <th class="hand-pointer" (click)="orderBy('user.personalDetails.name')">
                    Name
                    <i class="fa fa-sort" [ngClass]="{
                        'fa-sort-up': params.sortby=='user.personalDetails.name' && params.sortorder=='ASC',
                        'fa-sort-down': params.sortby=='user.personalDetails.name' && params.sortorder=='DESC'
                    }"></i>
                </th>
                <th class="hand-pointer" (click)="orderBy('user.email')">
                    Email
                    <i class="fa fa-sort" [ngClass]="{
                        'fa-sort-up': params.sortby=='user.email' && params.sortorder=='ASC',
                        'fa-sort-down': params.sortby=='user.email' && params.sortorder=='DESC'
                    }"></i>
                </th>
                <th>Question Attempt</th>
                <th>Right Answer</th>
                <th class="hand-pointer" (click)="orderBy('marks')">
                    Marks
                    <i class="fa fa-sort" [ngClass]="{
                        'fa-sort-up': params.sortby=='marks' && params.sortorder=='ASC',
                        'fa-sort-down': params.sortby=='marks' && params.sortorder=='DESC'
                    }"></i>
                </th>
                <th class="hand-pointer" (click)="orderBy('timeCreated')">
                    Date
                    <i class="fa fa-sort" [ngClass]="{
                        'fa-sort-up': params.sortby=='timeCreated' && params.sortorder=='ASC',
                        'fa-sort-down': params.sortby=='timeCreated' && params.sortorder=='DESC'
                    }"></i>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngIf="examDetails.length == 0">
                <td colspan="6">No Test to Display</td>
            </tr>

            <tr *ngFor="let exam of examDetails; let i = index">
                <td>{{exam.name}}</td>
                <td>{{exam.email}}</td>
                <td>{{exam.attempt}}</td>
                <td>{{exam.right}}</td>
                <td>{{exam.marks}}</td>
                <td>{{exam.date}}</td>
            </tr>
        </tbody>
    </table>
</div>